<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Hospital - Add-Appointment</title>
	<link rel="shortcut icon" href="/img/hospital-icon.png">
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="/plugins/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/plugins/feather/feather.css">
	<link rel="stylesheet" href="/plugins/icons/flags/flags.css">
	<link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<div class="main-wrapper">
		<div class="header">
			<div class="header-left">
				<a th:href="@{/admin/admin-page}" class="logo">
					<img src="/img/hospital-icon.png" alt="Logo">
				</a>
				<a href="index.html" class="logo logo-small">
					<img src="/img/hospital-icon.png" alt="Logo" width="30" height="30">
				</a>
			</div>
			<div class="menu-toggle">
				<a href="javascript:void(0);" id="toggle_btn">
					<i class="fas fa-bars"></i>
				</a>
			</div>

			<div class="top-nav-search">
				<form>
					<input type="text" class="form-control" placeholder="Search here">
					<button class="btn" type="submit"><i class="fas fa-search"></i></button>
				</form>
			</div>
			<a class="mobile_btn" id="mobile_btn">
				<i class="fas fa-bars"></i>
			</a>

		<!--	<ul class="nav user-menu">

				<li class="nav-item dropdown has-arrow new-user-menus">
					<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
						<span class="user-img">
							<img class="rounded-circle" src="/img/profiles/avatar-10.jpg" width="31" alt="Soeng Souy">
							<div class="user-text">
								<h6>Gaurav</h6>
								<p class="text-muted mb-0">Admin</p>
							</div>
						</span>
					</a>
					<div class="dropdown-menu">
						<div class="user-header">
							<div class="avatar avatar-sm">
								<img src="/img/profiles/avatar-10.jpg" alt="User Image"
									class="avatar-img rounded-circle">
							</div>
							<div class="user-text">
								<h6>Gaurav</h6>
								<p class="text-muted mb-0">Admin</p>
							</div>
						</div>
						<a class="dropdown-item" href="profile.html">My Profile</a>
						<a class="dropdown-item" href="inbox.html">Edit Profile</a>
						<a class="dropdown-item" href="login.html">Logout</a>
					</div>
				</li>

			</ul>-->
		</div>


		<div class="sidebar" id="sidebar">
			<div class="sidebar-inner slimscroll">
				<div id="sidebar-menu" class="sidebar-menu">
					<ul>
						<li class="menu-title">
							<span>Main Menu</span>
						</li>
						<li class="submenu active">
							<a href="#"><i class="feather-grid"></i> <span> Dashboard</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a th:href="@{/admin/admin-page}" >Admin Dashboard</a></li>

							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fa fa-solid fa-stethoscope"></i> <span>Doctor</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a th:href="@{/admin/add-doctor}">Add Doctor</a></li>
								<li><a th:href="@{/admin/doctorlist}">Doctor List</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Patient</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a th:href="@{/admin/add-patient}">Add Patient</a></li>
								<li><a th:href="@{/admin/patientlist}">Patient List</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-building"></i> <span> Department</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a th:href="@{/admin/add-department}">Add Department</a></li>
								<li><a th:href="@{/admin/departmentlist}">Department List</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-book-reader"></i> <span> Schedule</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a th:href="@{/admin/add-Schedule}">Add Schedule</a></li>
								<li><a th:href="@{/admin/schedulelist}">Schedule List</a></li>
							</ul>
						</li>

						<li class="submenu">
							<a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Appointment</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a th:href="@{/admin/add-Appointment}" class="active">Add Appointment</a></li>
								<li><a th:href="@{/admin/appointmentlist}">Appointment List</a></li>
							</ul>
						</li>

						<li class="submenu">
							<a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Payment</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a th:href="@{/admin/add-payment}">Add Payment</a></li>
								<li><a th:href="@{/admin/paymentlist}">Payment List</a></li>
							</ul>
						</li>

						<li class="submenu">
							<a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Report</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a th:href="@{/admin/add-patient-wise-report}">Add Patient Wise Report</a></li>
								<li><a th:href="@{/admin/preportlist}">Patient Wise Report</a></li>
								<li><a th:href="@{/admin/add-doctor-wise-report}">Add Doctor Wise Report</a></li>
								<li><a th:href="@{/admin/dreportlist}">Doctor Wise Report</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Human Resources</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a th:href="@{/admin/add-Emp}">Add Employee</a></li>
								<li><a th:href="@{/admin/emplist}">Employee List</a></li>
								<li><a th:href="@{/admin/add-Nur}">Add Nurse</a></li>
								<li><a th:href="@{/admin/nurlist}">Nurse List</a></li>
								<li><a th:href="@{/admin/add-Phar}">Add Pharmacist</a></li>
								<li><a th:href="@{/admin/pharlist}">Pharmacist List</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Bed Manager</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a th:href="@{/admin/add-Bed}">Add Bed</a></li>
								<li><a th:href="@{/admin/bedlist}">Bed List</a></li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#"><i class="fas fa-file-invoice-dollar"></i> <span> Notice</span> <span
									class="menu-arrow"></span></a>
							<ul>
								<li><a th:href="@{/admin/add-Notice}">Add Notice</a></li>
								<li><a th:href="@{/admin/noticelist}">Notice List</a></li>
							</ul>
						</li>
						
					</ul>
				</div>
			</div>
		</div>
		<div class="page-wrapper">
			<div class="content container-fluid">
				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-title">Add Appointment</h3>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="#">Appointment</a></li>
								<li class="breadcrumb-item active">Add Appointment</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-body">
								<form action="#" th:action="@{/admin/saveAppointment}" th:object="${appointment}" method="post">
									<div class="row">
										<div class="col-12 mb-2">
											<a th:href="@{/admin/appointmentlist}"><button type="button"
													class="btn btn-primary"><i class="fa fa-list"></i> Appointment
													List</button></a>
										</div>


										<div class="col-12 col-sm-6">
											<div class="form-group local-forms">
												<label>Patient Id <span class="login-danger">*</span></label>
												<input type="text" th:field="*{patient}" class="form-control"
													placeholder="Enter Patient Id" required>
											</div>
										</div>
										<div class="col-12 col-sm-6">
											<div class="form-group local-forms">
												<label>Department Name <span class="login-danger">*</span></label>
												<input type="text" th:field="*{depart}" class="form-control"
													placeholder="Enter Department Name" required>
											</div>
										</div>
										<div class="col-12 col-sm-6">
											<div class="form-group local-forms">
												<label>Doctor Name <span class="login-danger">*</span></label>
												<input type="text" th:field="*{doctorn}" class="form-control"
													placeholder="Enter Doctor Name" required>
											</div>
										</div>
										<div class="col-12 col-sm-6">
											<div class="form-group local-forms">
												<label>Appionment date <span class="login-danger">*</span></label>
												<input type="date" th:field="*{adate}" class="form-control"
													placeholder="Enter Appionment date" required>
											</div>
										</div>

										<div class="col-12 col-sm-6">
											<div class="form-group">
												<label>Problem</label>
												<textarea class="form-control" type="text" th:field="*{prob}"
													placeholder="Enter Problem.. " required></textarea>
											</div>
										</div>
										<div class="col-12">
											<div class="student-submit">
												<button type="reset" class="btn btn-primary"
												onclick="clearInput()">Reset</button>
												<button type="submit" class="btn btn-primary">Save</button>
											</div>
										</div>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<footer>
				<p>Copyright © 2022 Dreamguys.</p>
			</footer>
		</div>
	</div>
	<script src="/js/jquery-3.6.0.min.js"></script>
	<script src="/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/js/feather.min.js"></script>
	<script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script>function clearInput() {window.location = "/admin/add-appointment";}</script>
	<script src="/plugins/select2/js/select2.min.js"></script>
	<script src="/plugins/moment/moment.min.js"></script>
	<script src="/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/js/script.js"></script>
</body>

</html>